cElementTree==1.0.2-20050302
certifi==2020.6.20
coverage==6.3.2
elementtree==1.2.6-20050316
ipython==8.0.1
lxml==4.8.0
mbed_host_tests==1.8.13
mock==4.0.3
MySQL-python==1.2.5
Parser==0.1
psutil==5.8.0
pycryptodome==3.14.1
Pygments==2.7.1
pyserial==3.5
pytest==7.0.1
pythran==0.11.0
readme_renderer==32.0
repr==0.3.1
requests==2.25.1
rsa==4.8
runtests==0.0.28
setuptools==52.0.0
ttn==2.1.5
typing_extensions==3.7.4.3
