; OGN TRKS  Server configuration file

[server]
pid      =/tmp/trks.pid
root     =/var/www/html
LogData  =True
prt      =False
; in case of debugging using a local database (deprecated code)
MySQL    	=False
DBhost   	=yourhost.com
DBuser   	=youruser
DBpasswd 	=yourpasswd
DBuserread   	=youruser
DBpasswdread 	=yourpasswd
DBname   	=APRSLOG
DBpath   	=yourpath
